@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font: 400 1em/1.5em "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #ffffff;
  color: #000000;
}

h1, h2, h3, h4, h5, h6 {
  font: 700 1.5em/1.5em "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #000000;
  font-weight: 700;
  text-align: center;
}

strong {
  font-weight: 700;
}

p {
  font-weight: 400;
  padding-bottom: 10px;
}

body {
  position: absolute;
  width: 100%;
  height: 100%;
}

.bloque {
  position: relative;
  padding: 20px 0;
}

header .brand img {
  width: 80px;
  height: auto;
}
header .fullheight {
  background: url("../images/back-image-bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 20px;
}
header .fullheight h1 {
  display: block;
  color: #ffffff;
  text-align: center;
  font-weight: 400;
  font-size: 2em;
  padding: 100px 0;
  margin-bottom: 100px;
}
header .fullheight .scrolldown {
  text-align: center;
}

#main-nav {
  display: none;
}

#pageslide {
  background: #000000;
  -webkit-box-shadow: none;
  box-shadow: none;
}
#pageslide:before, #pageslide:after {
  content: '';
  display: table;
}
#pageslide:after {
  clear: both;
}
#pageslide ul {
  float: left;
  padding: 15%;
}
#pageslide ul a {
  color: #ffffff;
  line-height: 2;
  text-decoration: none;
  font-size: 1.3em;
}
#pageslide ul .nav-extras a {
  font-size: 0.8em;
  line-height: 1;
}

.lateral {
  background: url("../images/collapse.png");
  display: block;
  width: 49px;
  height: 37px;
  position: fixed;
  top: 25px;
  right: 25px;
}
