// layout.scss
// ==================

body {
    background: $backgroundColour;
    position: absolute;
    width: 100%;
    height: 100%;
}

.bloque {
    position: relative;
    text-align: center;
    padding: 20px 0;
}