// intro.scss
// ==================

header {    
    .brand img {
        width: 80px;
        height: auto;
    }
    .fullheight {
        @include backImage('../images/back-image-bg.jpg');
        padding: 20px;

        h1 {
            display: block;
            color: $light;
            text-align: center;
            font-weight: $regular;
            font-size: 2em;
            padding: 100px 0;
            margin-bottom: 100px;
        }//h1
        
        .scrolldown {
            text-align: center;
        }//scrolldown
    }//fullheight

}//header