// nav.scss
// ==================

#main-nav {
    display: none;
}

#pageslide {
    @include clearfix;
    background: $dark;
    -webkit-box-shadow: none;
    box-shadow: none;
    ul {
        float: left;
        padding: 15%;
        a {
            color: $light;
            line-height: 2;
            text-decoration: none;
            font-size: 1.3em;
        }//a
        
        .nav-extras ul {
            padding: 15px 0;
            li {
                padding: 3px 0;
                a {
                    font-size: 0.8em;
                }
            }
        }//nav-extras a
        
        .social ul {
            padding: 0;
            padding-top: 10px;
            li {
                float: left;
                padding-right: 15px;
            }
        }
    }//ul
}//pageslide

.lateral {
    background: url('../images/collapse.png') no-repeat;
    display: block;
    width: 49px;
    height: 37px;
    position: fixed;
    top: 25px;
    right: 25px;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    z-index: 99999;
}

#menu-launch {
    width: 50px;
    height: 50px;
}