// portfolio.scss
// ==================

#portfolio {
    @include container;
    background: $dark;
    position: relative;
    
    .section-header {
        background: $dark;
        color: $light;
        position: absolute;
        top: 0;
        h2 {
            color: $light;
        }
    }
    
    #portfolio-grid {
        float: left;
        position: absolute;
        bottom: 0;
        width: 100%;
        overflow: hidden;
        #container {
            display: block;
            height: 100%;
            width: auto;
        }
        .column {
            display: block;
            width: 35%;
            float: left;
            position: relative;
            @include transition;
        }
        .project {
            display: block;
            position: absolute;
            height: 100%;
            width: 100%;
            @include transition;
            .project-image {
                display: block;
                height: 100%;
                width: 50%;
                position: relative;
                img {
                    display: block;
                    margin: 0 auto;
                    padding: 20px 0;
                    position: absolute;
                    left: 10%;
                } 
            }
        }
        .project-50 {
            height: 50%;
            width: 100%;
            position: absolute;
            .project-description {
                display: none;
            }
        }
        .top {
            top: 0;
        }
        .bottom {
            bottom: 0;
        }
        .expand {
            content: '';
            display: block;
            position: relative;
            bottom: 80px;
            left: 20px;
            width: 64px;
            height: 64px;
            background: url('../images/add-md.png') no-repeat;
        }
        .active-column {
            @include span(12);
            padding-left: 0;
            padding-right: 0;
            display: block;
            width: 65%;
            float: left;
            
            .project-description-container {
                @include span(6 of 12);
                display: block;
                float: right;
                @include breakpoint(max-width $medium) {
                    @include span(12 of 12);
                }
                .project-description {
                    display: none;
                    background: $light;
                    width: 80%;
                    padding: 10px 20px;
                    margin: 0 auto;
                    margin-top: 40px;
                    @include border-radius(15px);
                    h3 {

                    }
                    p {
                        display: block;
                        font-size: 0.8em;
                        padding: 10px 0;
                        line-height: 1.8em;
                    }
                }
            }
            
        }
        
        .not-active-column {
            .project-image {
                display: block;
                height: 100%;
                width: auto;
                img {
                    display: block;
                    top: 0;
                    left: 0;
                    right: 0;
                    margin-left: auto;
                    margin-right: auto;
                    height: 100%;
                }
            }
        }
        
        .yellow {
            background: $yellow;
        }
        .purple {
            background: $purple;
        }
        .darkgray {
            background: $darkgray;
        }
    }    
}