// portfolio.scss
// ==================

#portfolio {
    @include container;
    #portfolio-top {
        display: block; 
        position: relative; 
        top: 250px; 
        visibility: hidden;
    }
    .section-header {
        background: $dark;
        color: $light;
        h2 {
            color: $light;
        }
    }
    #portfolio-grid {
        width: 100%;
        .active-column {
            display: block;
            width: 65%;
            float: left;
            img {
                margin-right: 40%;
                @include breakpoint(max-width $medium) {
                    margin-right: 0;
                }
            }
        }
        .column {
            display: block;
            width: 35%;
            float: left;
        }
        .project {
            display: block;
            height: 100%;
            img {
                width: auto;
                height: 100%;
                padding: 20px 0;
            }
        }
        .project-50 {
            height: 50%;
        }
        .yellow {
            background: $yellow;
        }
        .purple {
            background: $purple;
        }
        .darkgray {
            background: $darkgray;
        }
    }    
}