// services.scss
// ==================

#services {
    h2 {
        text-transform: uppercase;
    }
    #serviceslist {
        @include span(10);
        @include breakpoint(max-width 1500px){
            @include span(12);
        }
        float: none;
        margin: 0 auto;
        li {
            @include span(3);
            display: block;
            float: left;
            color: $blue;
            a, h3 {
                color: $blue;
                font: $mainFont;
            }
            .responsive-icon {
                margin: 0 auto;
                display: block;
                width: 256px;
                height: 256px;
                background: url('../images/responsive-blue-md.png') no-repeat;
            }//responsive-icon
            .dev-icon {
                margin: 0 auto;
                display: block;
                width: 256px;
                height: 256px;
                background: url('../images/dev-blue-md.png') no-repeat;
            }//dev-icon
            .seo-icon {
                margin: 0 auto;
                display: block;
                width: 256px;
                height: 256px;
                background: url('../images/seo-blue-md.png') no-repeat;
            }//seo-icon
            .content-icon {
                margin: 0 auto;
                display: block;
                width: 256px;
                height: 256px;
                background: url('../images/content-blue-md.png') no-repeat;
            }//content-icon
            p {
                display: block;
            }
            @include breakpoint(max-width $wide) {
                @include span(6);
            }
            @include breakpoint(max-width $small) {
                @include span(12);
            }
        }//li 
    }//servicelist

    .dft-btn {
        margin: 30px;
    }//workflow button
    
    #workflow {
        display: block;
        width: 100%;
        background: $gray;
        .triangulo {
            display: block;
            margin: 0 auto;
            border-width: 25px 25px 0;
            border-color: $light transparent;
            border-style: solid;
            width: 0;
            height: 0;
        }
        ul {
            @include span(10);
            @include breakpoint(max-width 1500px){
                @include span(12);
            }
            float: none;
            margin: 0 auto;
            margin-top: 40px;
            background: $gray;
            li {
                @include span(4);
                display: block;
                float: left;
                text-align: left;
                padding: 0 20px;
                #{headings()} {
                    font-size: 1.5em;
                    text-align: left;
                }
            }
        }
    }
}